
/* General */

/* Plugin Notice */

.experimental-plugin-notice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experimental-plugin-notice > :first-child {
  margin-top: 0;
}
.experimental-plugin-notice > :last-child {
  margin-bottom: 0;
}

.experimental-plugin-notice > * {
  margin: .3em 0;
}


/* SettingTab Elements */

/* warning-banner div */

.warning-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-orange);
  background-color: var(--color-base-10);
  border: 3px solid var(--color-orange);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 25px;
}
.warning-banner > * {
  margin: 2px 2px
}

/* break-trigger-time Setting */

.break-trigger-time-item-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-trigger-time-button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
.break-trigger-time-button-container > * {
  margin-right: 4%;
  padding: 0 4%;
}
