
/* General */

/* Plugin Notice */

.experimental-plugin-notice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experimental-plugin-notice > :first-child {
  margin-top: 0;
}
.experimental-plugin-notice > :last-child {
  margin-bottom: 0;
}

.experimental-plugin-notice > * {
  margin: .3em 0;
}


/* SettingTab Elements */

/* warning-banner div */

.warning-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-orange);
  background-color: var(--color-base-10);
  border: 3px solid var(--color-orange);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 25px;
}
.warning-banner > * {
  margin: 2px 2px
}

/* break-trigger-time Setting */

.break-trigger-time-item-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.break-trigger-time-item-control > input {
  grid-column: span 2;
}

/* About 'flex'
 * - Always use 'flex' for the parent element (i.e. the container)
  * - Use 'flex-direction' to set the direction of the flex items
  * - Use 'justify-content' to set the alignment of the flex items along the main axis
  * - Use 'align-items' to set the alignment of the flex items along the cross axis
  * - Use 'flex-wrap' to set whether the flex items should wrap or not
 * - For the child elements:
  * - Use 'width' with a percentage value to set the width of the flex items
  *   (it should be less than (100%/#-of-elems))
  * - Use 'flex' with a number value to set the flex-grow property of the flex items
  *   (e.g. with 3 items, use 'flex: 2' in one of them to make it twice as wide as the others,
  *    i.e. it is treated as if it had 2 flex items)
*/
